openapi: 3.0.3
info:
  title: RoleRabbit Portfolio API
  description: |
    Complete API documentation for RoleRabbit portfolio creation and management platform.

    ## Authentication
    All authenticated endpoints require a JWT token in the Authorization header:
    ```
    Authorization: Bearer <your_jwt_token>
    ```

    To obtain a token, use the `/api/auth/login` endpoint.

    ## Rate Limits
    - General API: 100 requests/hour
    - Expensive operations (deploy, export): 10 requests/hour
    - Portfolio creation: 10 requests/hour
    - Public endpoints: 1000 requests/hour per IP

    ## Pagination
    List endpoints support pagination with query parameters:
    - `page`: Page number (default: 1)
    - `limit`: Items per page (default: 20, max: 100)

    Response includes metadata:
    ```json
    {
      "data": [...],
      "pagination": {
        "page": 1,
        "limit": 20,
        "totalCount": 100,
        "totalPages": 5
      }
    }
    ```

    ## Error Responses
    All errors follow a consistent format:
    ```json
    {
      "error": "Error Type",
      "message": "Human-readable error message",
      "code": "ERROR_CODE",
      "details": {}
    }
    ```
  version: 1.0.0
  contact:
    name: RoleRabbit API Support
    email: api@rolerabbit.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.rolerabbit.com
    description: Production server
  - url: https://staging-api.rolerabbit.com
    description: Staging server
  - url: http://localhost:3000
    description: Development server

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Portfolios
    description: Portfolio CRUD operations
  - name: Templates
    description: Portfolio templates
  - name: Deployment
    description: Portfolio deployment and publishing
  - name: Analytics
    description: Portfolio analytics and tracking
  - name: User
    description: User profile and settings
  - name: Moderation
    description: Content moderation and abuse reporting

paths:
  # ==================== Authentication ====================
  /api/auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and receive JWT token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: SecurePassword123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/auth/register:
    post:
      tags: [Authentication]
      summary: User registration
      description: Create a new user account
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ==================== Portfolios ====================
  /api/portfolios:
    get:
      tags: [Portfolios]
      summary: List user portfolios
      description: Get all portfolios for authenticated user with pagination
      operationId: listPortfolios
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: published
          in: query
          description: Filter by published status
          schema:
            type: boolean
        - name: sortBy
          in: query
          description: Sort field
          schema:
            type: string
            enum: [created_at, updated_at, title]
            default: updated_at
        - name: order
          in: query
          description: Sort order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: List of portfolios
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Portfolio'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Portfolios]
      summary: Create portfolio
      description: Create a new portfolio
      operationId: createPortfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortfolioRequest'
      responses:
        '201':
          description: Portfolio created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/portfolios/{id}:
    get:
      tags: [Portfolios]
      summary: Get portfolio by ID
      description: Retrieve a specific portfolio
      operationId: getPortfolio
      parameters:
        - name: id
          in: path
          required: true
          description: Portfolio ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Portfolio details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Portfolios]
      summary: Update portfolio
      description: Update an existing portfolio
      operationId: updatePortfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePortfolioRequest'
      responses:
        '200':
          description: Portfolio updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Portfolios]
      summary: Delete portfolio
      description: Delete a portfolio (soft delete with 30-day grace period)
      operationId: deletePortfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Portfolio deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Portfolio scheduled for deletion
                  deletionDate:
                    type: string
                    format: date-time
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/portfolios/{id}/publish:
    post:
      tags: [Portfolios, Deployment]
      summary: Publish portfolio
      description: Publish portfolio and make it publicly accessible
      operationId: publishPortfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Portfolio published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  published:
                    type: boolean
                  url:
                    type: string
                    format: uri
                    example: https://johndoe.rolerabbit.com
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/portfolios/{id}/export:
    get:
      tags: [Portfolios]
      summary: Export portfolio
      description: Export portfolio as PDF or HTML
      operationId: exportPortfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [pdf, html, json]
      responses:
        '200':
          description: Portfolio export file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ==================== Templates ====================
  /api/templates:
    get:
      tags: [Templates]
      summary: List templates
      description: Get all available portfolio templates
      operationId: listTemplates
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: category
          in: query
          schema:
            type: string
            enum: [developer, designer, business, creative]
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # ==================== Analytics ====================
  /api/portfolios/{id}/analytics:
    get:
      tags: [Analytics]
      summary: Get portfolio analytics
      description: Retrieve analytics data for a portfolio
      operationId: getAnalytics
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          description: Time period for analytics
          schema:
            type: string
            enum: [7d, 30d, 90d, all]
            default: 30d
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ==================== User ====================
  /api/user/profile:
    get:
      tags: [User]
      summary: Get user profile
      description: Get authenticated user's profile
      operationId: getUserProfile
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      tags: [User]
      summary: Update user profile
      description: Update authenticated user's profile
      operationId: updateUserProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/user/export-data:
    get:
      tags: [User]
      summary: Export user data
      description: GDPR data export - download all user data as JSON
      operationId: exportUserData
      responses:
        '200':
          description: User data export
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  portfolios:
                    type: array
                    items:
                      $ref: '#/components/schemas/Portfolio'
                  analytics:
                    type: array
                    items:
                      type: object
                  auditLogs:
                    type: array
                    items:
                      type: object
                  exportedAt:
                    type: string
                    format: date-time

  # ==================== Moderation ====================
  /api/abuse/report:
    post:
      tags: [Moderation]
      summary: Report abuse
      description: Submit an abuse report for inappropriate content
      operationId: reportAbuse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [portfolioId, reason, description]
              properties:
                portfolioId:
                  type: string
                  format: uuid
                reason:
                  type: string
                  enum: [hate_speech, harassment, spam, inappropriate_content, copyright_violation, impersonation, illegal_content, other]
                description:
                  type: string
                  minLength: 10
                  maxLength: 1000
      responses:
        '201':
          description: Report submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportId:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

# ==================== Components ====================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/auth/login

  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1

    Limit:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  headers:
    X-RateLimit-Limit:
      description: Request limit per hour
      schema:
        type: integer
        example: 100

    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
        example: 95

    X-RateLimit-Reset:
      description: Unix timestamp when rate limit resets
      schema:
        type: integer
        example: 1640995200000

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
          format: uri
        bio:
          type: string
        role:
          type: string
          enum: [user, admin, moderator]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Portfolio:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        subdomain:
          type: string
        customDomain:
          type: string
        published:
          type: boolean
        publishedAt:
          type: string
          format: date-time
        theme:
          type: object
          properties:
            primaryColor:
              type: string
            fontFamily:
              type: string
            layout:
              type: string
        sections:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              title:
                type: string
              content:
                type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Template:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
        preview:
          type: string
          format: uri
        theme:
          type: object
        sections:
          type: array
          items:
            type: object

    Analytics:
      type: object
      properties:
        portfolioId:
          type: string
          format: uuid
        totalViews:
          type: integer
        uniqueVisitors:
          type: integer
        topCountries:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              percentage:
                type: number
        viewsOverTime:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              views:
                type: integer

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        totalCount:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 5

    CreatePortfolioRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        subtitle:
          type: string
          maxLength: 500
        description:
          type: string
          maxLength: 2000
        templateId:
          type: string
          format: uuid
        theme:
          type: object

    UpdatePortfolioRequest:
      type: object
      properties:
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        theme:
          type: object
        sections:
          type: array
          items:
            type: object

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        bio:
          type: string
        avatar:
          type: string
          format: uri

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: Bad Request
        message:
          type: string
          example: Validation failed
        code:
          type: string
          example: VALIDATION_ERROR
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Bad Request
            message: Validation failed
            code: VALIDATION_ERROR
            details:
              title: Title is required

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
            message: Authentication required
            code: AUTH_REQUIRED

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Forbidden
            message: You do not have permission to access this resource
            code: PERMISSION_DENIED

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not Found
            message: Resource not found
            code: NOT_FOUND

    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
            example: 3600
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Too Many Requests
            message: Rate limit exceeded. Try again in 3600 seconds.
            code: RATE_LIMIT_EXCEEDED
